# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace
!*.xcodeproj/project.xcworkspace/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods (if used)
Pods/

# Carthage (if used)
Carthage/Build/

# macOS
.DS_Store
*.swp
*~.nib

# AppCode
.idea/

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
